# this is .gitignore file.
# 以下是忽略的文件

# 仅忽略当前路径下的build文件夹及其内所有的文件

#A_LOAM
*/build/
*/devel/
*/build_clion/
*/devel_clion/
*/.vscode/

#biaoding
#biaoding/
*/biaoding/*/build/
*/biaoding/*/devel/

#FAST_LIO
*/*/build/
*/*/devel/
*/my_data/

#fast_livo_ws
*/*/build/
*/*/devel/


#F_LOAM
*/build/
*/devel/
*/build_clion/
*/devel_clion/

#gtsam_study
*/simple_factor_graph/build/
*/gtsam_study_cvlife/*/build/

#imaging_lidar_place_recognition
*/build/
*/devel/

#ku

#LeGO_LOAM
*/build/
*/devel/
*/my_data/
*/.vscode/


#LiLi-OM
*/*/build/
*/*/devel/

#lio_sam
#lio_sam/
*/lio_sam/build/
*/lio_sam/devel/

#Loam_livox
*/build/
*/devel/

#loam_velodyne
*/build/
*/devel/
*/.vscode/

#pcd_chuli
*/*/build/
*/*/*/build/
*/*/*/devel/


#localization_in_auto_driving
*/*/build/
*/*/devel/
*/*/build_clion/
*/*/devel_clion/
*/*/*/*/slam_data/
*/liad_cap11/data/

#pcd_rviz
*/build/
*/devel/
*/.vscode/

#r3live
#r3live/
*/r3live/livox_ros_driver_for_R2LIVE-main/
*/r3live/Livox-SDK/
*/r3live/ws_livox/build/
*/r3live/ws_livox/devel/
*/r3live/r3live_ws/build/
*/r3live/r3live_ws/devel/

#s-fast-lio
*/*/build/
*/*/devel/

#surfel_mapping
*/build/
*/devel/
*/my_data/
*/.vscode/

#tictoc

#Voxelmap
*/*/build/
*/*/devel/

#Voxelmap
*/*/build/
*/*/devel/

*/*/*/build/
*/*/cmake-build-debug/
#.gitignore

