# this is .gitignore file.
# 以下是忽略的文件

# 仅忽略当前路径下的build文件夹及其内所有的文件

#A_LOAM
*/build/
*/devel/
*/build_clion/
*/devel_clion/
*/.vscode/

#biaoding
#biaoding/
*/biaoding/*/build/
*/biaoding/*/devel/

#F_LOAM
*/build/
*/devel/
*/build_clion/
*/devel_clion/

#gtsam_study
*/simple_factor_graph/build/
*/gtsam_study_cvlife/*/build/

#ku

#LeGO_LOAM
*/build/
*/devel/
*/my_data/
*/.vscode/

#lio_sam
#lio_sam/
*/lio_sam/build/
*/lio_sam/devel/

#loam_velodyne
*/build/
*/devel/
*/.vscode/

#localization_in_auto_driving
*/*/build/
*/*/devel/
*/*/build_clion/
*/*/devel_clion/
*/*/*/*/slam_data/

#pcd_rviz
*/build/
*/devel/
*/.vscode/

#surfel_mapping
*/build/
*/devel/
*/my_data/
*/.vscode/

*/*/*/build/
*/*/cmake-build-debug/
#.gitignore

