# this is .gitignore file.
# 以下是忽略的文件

# 仅忽略当前路径下的build文件夹及其内所有的文件

#A_LOAM
*/build/
*/devel/
*/build_clion/
*/devel_clion/
*/.vscode/

#ku

#loam_velodyne
*/build/
*/devel/

#localization_in_auto_driving
*/*/build/
*/*/devel/
*/*/build_clion/
*/*/devel_clion/
*/*/*/*/slam_data/



*/*/*/build/
*/*/cmake-build-debug/
#.gitignore

